* {
    margin: 0;
    padding: 0;
}

:root {
    --card-background: hsl(0, 0%, 100%);
    --text-color: hsl(220, 15%, 55%);
    --shadow: 218, 44%, 22%;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 62.5%;
}



.card-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;
    padding: 1rem;
    width: 20rem;
    border-radius: 1.5rem;
    height: 32.5rem;
    box-shadow: 0px 0px 10px hsl(var(--shadow),.2);
}

.qr {
    width: 20rem;
    border-radius: 1rem;
}

.bold-text {
    font-family: 'Outfit', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;
}

.text {
    color: var(--text-color);
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
}